<!DOCTYPE html>
<html>
<%- include('header.ejs') %>

<body>
<%- include('banner.ejs') %>

<header class="App-header">
  <section style="max-width:-webkit-fill-available;text-align:left;margin:auto">
    <h1>Campaign<br>Lab</h1>
  </section>
  <h4>Campaign Connector is a project by Robbie Sinclair @ Campaign Lab</h4>
</header>
<%- include('footer.ejs') %>

</body>

</html>
