<!DOCTYPE html>
<html>
<%- include('header.ejs') %>

<body>
<%- include('banner.ejs') %>

<header class="App-header">
  <section style="max-width:-webkit-fill-available;text-align:left;margin:auto">
    <h1>Campaign<br>Lab</h1>
  </section>
  <h4>Campaign Connector is a project by Robbie Sinclair @ Campaign Lab</h4>
  <h6>Ask me a question on <a class='red' href='https://twitter.com/velocirobbie'>twitter</a>!</h6>
  <h6>Ask us a question on <a class='red' href='https://twitter.com/CampaignLab_'>twitter</a>!</h6>
  <h6>And find out more about <a class='red' href='https://www.campaignlab.uk/'>Campaing Lab here</a>.</h6>
</header>
<%- include('footer.ejs') %>

</body>

</html>
