<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="/app.css">

<body>

<%- include('banner.ejs') %>

<section style="max-width:600px;text-align:center;margin:auto">
  <header class="App-header">
    <section style="max-width:-webkit-fill-available;text-align:left;margin:auto">
      <h1>Campaign<br>Lab</h1>
    </section>
    <h4>Campaign Connector is a project by Robbie Sinclair @ Campaign Lab</h4>
  </header>
</section>
<%- include('footer.ejs') %>

</body>

</html>
