<!-- Navigation -->
<nav class="w3-bar w3-white">
    <a href="/" class="w3-button w3-bar-item">Home</a>
    <a href="/methodology" class="w3-button w3-bar-item">Methodology</a>
    <a href="/about" class="w3-button w3-bar-item">About</a>
</nav>


