<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="/app.css">

<body>

<%- include('banner.ejs') %>

<%- include('header.ejs') %>

<div id='results'></div>

<%- include('footer.ejs') %>

<script src="/analysis.js"></script>
<script src="/app.js"></script>
<script>
  load_constit('<%= constit %>')
</script>


</body>

</html>
