<!DOCTYPE html>
<html>
<%- include('header.ejs') %>

<body>

<%- include('banner.ejs') %>

<%- include('title.ejs') %>
<div id='results'></div>

<%- include('footer.ejs') %>

<script src="/analysis.js"></script>
<script src="/app.js"></script>

</body>

</html>
