<!DOCTYPE html>
<html>
<%- include('header.ejs') %>

<body>
<%- include('banner.ejs') %>

<header class="App-header">
  <section style="max-width:-webkit-fill-available;text-align:left;margin:auto">
    <h1>Methodology</h1>
  </section>
  <h4>Methodology summary and link to pdf</h4>
</header>

<%- include('footer.ejs') %>

</body>

</html>
