<!DOCTYPE html>

<!-- Content -->
<header class="App-header">
  <section style="max-width:-webkit-fill-available;text-align:left;margin:auto">
    <h1>Campaign<br/>Connector</h1>
  </section>
  <h4>
    We are connecting labour campaign organisers across the country to share and discover campaign strategies that work.
  </h4>
  <h4>
    Search for your constituency, and we'll find similar constituencies that performed well in the last election.
  </h4>
</header>

<div id="constitDropdown" class="dropdown-content">
  <input type="text" placeholder="Search for your constituency.." id="constitInput" onkeyup="filterconstits()">
</div>
