<!DOCTYPE html>

<!-- Content -->
<header class="App-header">
  <section style="max-width:-webkit-fill-available;text-align:left;margin:auto">
    <h1>Campaign<br/>Connector</h1>
  </section>
  <h4>
    We are connecting labour campaign organisers across the country to share and discover strategies that work.
    Search for your constituency to find other similar constituencies which performed well in the last election. Get in touch to see how they did it.
  </h4>
  <!--
  <h6>
    Each constituency will have the vote swing to or away from labour in the last election, and a similarity score as to how demographically similar it is to your constituency.
    <br>
Click on the constituency to unlock more details, including information on how to reach out to the local party branch (CLP)! This is a great opportunity to improve your campaign's performance and learn from others.
  </h6>
  -->
</header>

<div id="constitDropdown" class="dropdown-content">
  <input type="text" placeholder="Search for your constituency.." id="constitInput" onkeyup="filterconstits()">
</div>
