<!DOCTYPE html>

<!-- Content -->
<header class="App-header">
  <section style="max-width:-webkit-fill-available;text-align:left;margin:auto">
    <h1>Campaign<br/>Connector</h1>
  </section>
  <h4>Connect with constituencies like yours to see what campaigns are working around the country...</h4>
</header>

<div id="constitDropdown" class="dropdown-content">
  <input type="text" placeholder="Search for your constituency.." id="constitInput" onkeyup="filterconstits()">
</div>
